<div class="form-container">
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm" *ngIf="cliente">
      <label for="primerNombre">Primer Nombre:</label>
      <input 
        id="primerNombre" 
        name="primerNombre" 
        type="text" 
        required 
        [(ngModel)]="cliente.primerNombre"
      />
      
      <label for="primerApellido">Primer Apellido:</label>
      <input 
        id="primerApellido" 
        name="primerApellido" 
        type="text" 
        required 
        [(ngModel)]="cliente.primerApellido"
      />
      
      <label for="segundoApellido">Segundo Apellido:</label>
      <input 
        id="segundoApellido" 
        name="segundoApellido" 
        type="text" 
        required 
        [(ngModel)]="cliente.segundoApellido"
      />
      
      <label for="telefono">Telefono:</label>
      <input 
        id="telefono" 
        name="telefono" 
        type="text" 
        required 
        [(ngModel)]="cliente.telefono"
      />
      
      <button type="submit"> Editar </button>
    </form>
    <button type="button" mat-button (click)="goBack()">Regresar</button>
  </div>